<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>职享网</title>
    <link rel="stylesheet" href="/static/res/layui/css/layui.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo" style="color: #FBFBFB"><p>职享网后台管理</p></div>

        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a style="color: #FBFBFB" href="javascript:;">
                    <img src="http://qpjew6rs9.hn-bkt.clouddn.com/d18d5165fd06437dbb2ea5e30988df98.jpg" class="layui-nav-img">
                    admin
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a style="color: #FBFBFB" href="">安全退出</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <!--添加layui-nav-itemed样式展开子列表-->
                <li class="layui-nav-item">
                    <a style="color: #FBFBFB" class="" href="/manage/index">用户管理</a>
                </li>
                <li class="layui-nav-item layui-this">
                    <a style="color: #FBFBFB" href="/manage/questionPage;">帖子管理</a>
                </li>
                <li class="layui-nav-item">
                    <a style="color: #FBFBFB" href="/manage/toNewQuestionPage">违规审核</a>
                </li>
                <li class="layui-nav-item">
                    <a style="color: #FBFBFB" href="javascript:;">设置广告</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <!--<div style="padding: 15px;">内容主体区域</div>-->
        <h1 align="center">帖子管理</h1>
        <table class="layui-hide" id="test" lay-filter="test"></table>

    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
    </div>
</div>
<script src="/static/res/layui/layui.js"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;


    });
</script>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
        <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
        <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>
    </div>
</script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>


<script src="/static/res/layui/layui.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->

<script>
    layui.use(['jquery','table'], function(){
        var table = layui.table
            ,$ = layui.jquery;

        table.render({
            elem: '#test'
            ,url:'/manage/questionsData'
            /*,toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            ,defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                title: '提示'
                ,layEvent: 'LAYTABLE_TIPS'
                ,icon: 'layui-icon-tips'
            }]*/
            ,title: '用户数据表'
            ,cols: [
                [
                    {type: 'checkbox', fixed: 'left'}
                    ,{field:'id', title:'ID', width:60, fixed: 'left', unresize: true, sort: true}
                    ,{field:'title', title:'标题', width:150, edit: 'text'}
                    ,{field:'description', title:'内容描述', width:280, edit: 'text'}
                    ,{field:'label', title:'标签', width:180, edit: 'text'}
                    ,{field:'reward', title:'悬赏', width:80, sort: true}
                    ,{field:'userId', title:'用户ID',width:100, sort: true}
                    ,{field:'commentCount', title:'评论数',width:100, sort: true}
                    ,{field:'createdDate', title:'发布时间', width:160, templet: function(res){
                        return layui.util.toDateString(res.createdDate,"yyyy-MM-dd HH:mm:ss");
                    }}
                    ,{fixed: 'right', title:'操作', toolbar: '#barDemo', width:150}
                ]
            ]
            ,page: true
        });

        //头工具栏事件
        /*table.on('toolbar(test)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'getCheckData':
                    var data = checkStatus.data;
                    layer.alert(JSON.stringify(data));
                    break;
                case 'getCheckLength':
                    var data = checkStatus.data;
                    layer.msg('选中了：'+ data.length + ' 个');
                    break;
                case 'isAll':
                    layer.msg(checkStatus.isAll ? '全选': '未全选');
                    break;

                //自定义头工具栏右侧图标 - 提示
                case 'LAYTABLE_TIPS':
                    layer.alert('这是工具栏右侧自定义的一个图标按钮');
                    break;
            };
        });*/

        //监听行工具事件
        table.on('tool(test)', function(obj){
            var data = obj.data;
            //console.log(obj)
            if(obj.event === 'del'){
                layer.confirm('真的删除行么', function(index){
                    $.ajax({
                        url:"/manage/deleteQuestion",
                        type:"GET",
                        data:{
                            id : data.id
                        },
                        success:function (res) {

                            if (res.status == 0){
                                obj.del();
                                layer.msg("删除帖子成功");
                            }else {
                                layer.msg(res.msg);
                            }

                        },
                        error:function (res) {
                            layer.msg("删除帖子失败")
                        }
                    });

                    layer.close(index);
                });
            } else if(obj.event === 'edit'){
                layer.prompt({
                    formType: 2
                    ,value: data.description
                }, function(value, index){
                    $.ajax({
                        url:"/manage/setDescription",
                        type:"GET",
                        data:{
                            id : data.id,
                            description : value
                        },
                        success:function (res) {

                            if (res.status == 0){
                                obj.update({
                                    description: value
                                });
                                layer.msg("帖子修改成功");
                            }else {
                                layer.msg(res.msg);
                            }

                        },
                        error:function (res) {
                            layer.msg("帖子修改失败")
                        }
                    });
                    layer.close(index);
                });
            }
        });
    });
</script>
</body>
</html>