<!--导航栏开始-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="head :: h_head"></div>
<body>
<div th:replace="head :: h_div"></div>
<!--导航栏结束-->

<!--功能面板-->
<div th:replace="head :: h_panel"></div>

<div class="layui-container">

    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12 fly-home-da">
            <div class="fly-panel" id="searchStyle">

                <div class="fly-none"
                     style="min-height: 10px; padding:5px 0; height:auto;"><i style="font-size:14px;" th:utext="${'符合查询条件 '+keyword+' 的结果有'+totalHits+'条'}">查询结果</i>
                </div>
                <ul class="fly-list" th:each="vo : ${searchResult}">

                    <!--每一条资讯-->
                    <hr/>
                    <li>
                        <a href="/user/homepage/1" th:href="'/user/homepage/'+${vo.userId}" class="fly-avatar">
                            <img th:src="${vo.headUrl}"
                                 src="http://images.tnnd.ren/ffac447bcd134ae98d349eddb9d0aa53.jpg"
                                 alt="Thomas">
                        </a>
                        <h2>
                            <a href="/jie/detail/24" th:href="'jie/detail/'+${vo.id}"
                               th:utext="${vo.title}">测试数据</a>
                            <a class="layui-badge"
                               th:each="label : ${#strings.arraySplit(vo.label,',')}"
                               th:utext="${label}">动态</a>
                        </h2>
                        <div class="fly-list-info">
                            <a href="/user/homepage/1" th:href="'/user/homepage/'+${vo.userId}"  link>
                                <cite th:utext="${vo.nickName}">Thomas</cite>
                                <i class="iconfont icon-renzheng" title="认证信息：XXX"></i>
                                <i class="layui-badge fly-badge-vip">VIP3</i>
                            </a>
                            <span th:text="${#dates.format(vo.createdDate,'yyyy-MM-dd HH:mm:ss')}">刚刚</span>

                            <span class="fly-list-kiss layui-hide-xs" title="悬赏飞吻"
                                  th:text="${vo.reward}"><i class="iconfont icon-kiss"></i> 60</span>
                            <span class="layui-badge fly-badge-accept layui-hide-xs">已结</span>
                            <span class="fly-list-nums">
                                <i class="iconfont icon-pinglun1" title="回答"></i>
                                <span th:text="${vo.commentCount}">16</span>
                            </span>
                        </div>
                        <div style="max-height: 300px" class="detail-body photos" th:utext="${vo.description}">
                            无数据
                        </div>
                        <div class="fly-list-badge">
                            <!--
                            <span class="layui-badge layui-bg-black">置顶</span>
                            <span class="layui-badge layui-bg-red">精帖</span>
                            -->
                        </div>
                    </li>


                </ul>
            </div>
        </div>
    </div>

</div>

<div th:replace="head :: h_footer"></div>

<script src="/static/res/layui/layui.js"></script>
<script>

    layui.use(['element', 'form','carousel'], function () {
        var element = layui.element
            ,form = layui.form
            ,carousel = layui.carousel;


        /*//图片轮播
        carousel.render({
            elem: '#test10'
            ,width: '380px'
            ,height: '100px'
            ,interval: 5000
        });
        */

        //…
    });
    layui.cache.page = 'jie';
    layui.cache.user = {
        username: '游客'
        , uid: -1
        , avatar: '/static/res/images/avatar/00.jpg'
        , experience: 83
        , sex: '男'
    };
    layui.config({
        version: "3.0.0"
        , base: '/static/res/mods/'
    }).extend({
        fly: 'index'
    }).use(['fly', 'face'], function () {
        var $ = layui.$
            , fly = layui.fly;
        //如果你是采用模版自带的编辑器，你需要开启以下语句来解析。
        $('.detail-body').each(function () {
            var othis = $(this), html = othis.html();
            //othis.html(fly.content(html));
            othis.html(html);
        });
    });
</script>

</body>
</html>